.container {
  background-color: #eee;
  min-height: 100vh;
}

.circle {
  height: 1rem; // rem vs em
  width: 1rem;
  background-color: red;
  border-radius: 100%;
  position: fixed;
  top: 500px;
  left: 500px;
}

.square {
  margin: 1em auto;
  border: 1px solid #eee;
  width: 30rem; // 1rem vs pixel
  height: 30rem; // 1em - font-size
  position: relative;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: #aaa;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
}
